.content-preview {
    opacity: 0.7;
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.header {
    margin: 20px;
}
a {
    text-decoration: none;
    color: unset;
}
